{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": [
            "tsconfig.eslint.json"
        ],
        "sourceType": "module",
        "createDefaultProgram": true
    },
    "rules": {
        "@typescript-eslint/no-non-null-assertion": "off",
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",
        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2,
        "react/react-in-jsx-scope": 2,
        "arrow-parens": [
            "error",
            "as-needed",
            {
                "requireForBlockBody": true
            }
        ],
        "quotes": [
            "error",
            "single"
        ],
        "arrow-body-style": "off",
        "class-methods-use-this": "off",
        "comma-dangle": "off",
        "consistent-return": "off",
        "func-names": "off",
        "import/no-extraneous-dependencies": "off",
        "indent": [
            "error",
            2,
            {
                "SwitchCase": 1,
                "FunctionDeclaration": {
                    "parameters": "first"
                },
                "FunctionExpression": {
                    "parameters": "first"
                }
            }
        ],
        "newline-per-chained-call": "off",
        "no-multiple-empty-lines": [
            "error",
            {
                "max": 1
            }
        ],
        "no-param-reassign": "off"
    },
    "plugins": [
        "@typescript-eslint",
        "react",
        "react-hooks"
    ],
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "overrides": [
        {
            "files": [
                "test/**"
            ],
            "rules": {
                "import/extensions": "off",
                "no-restricted-globals": "off",
                "no-undef": "off"
            }
        }
    ]
}